
h2 {
  color: #343a40; 
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #6c757d; 
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Pour personnaliser react-day-picker */

.rdpp {
  --rdp-background-color: #fff;
  --rdp-accent-color: #007bff;
  --rdp-accent-hover-color: #0056b3;
  --rdp-text-color: #212529;
  --rdp-text-color-disabled: #adb5bd;
  --rdp-border-radius: 8px;
  --rdp-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--rdp-border-radius);
  box-shadow: var(--rdp-shadow);
  padding: 1rem;
}

/* center the calendar */

.rdpp > div {
  margin: 0 auto;
}
