.footer {
  background-color: rgb(151, 185, 228);;
  color: #022a53;
  font-size: 0.95rem;
}

.footer h5 {
  color: #022a53;
  margin-bottom: 0.75rem;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer a,
.footer-link {
  color: #022a53;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer hr {
  border-color: rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
